In [1]:
import pandas as pd

In [4]:
chi = pd.read_csv('chicago.csv')
ny = pd.read_csv('new_york_city.csv')
wash = pd.read_csv('washington.csv')

In [6]:
chi.head(2)

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0

In [17]:
#popular_start_station = chi['Start Station'].mode()[0]
#print(f"\tMost popular start station: {popular_start_station}")
chi.groupby(['Start Station']).size()

Start Station
2112 W Peterson Ave              35
63rd St Beach                    93
900 W Harrison St               467
Aberdeen St & Jackson Blvd      722
Aberdeen St & Monroe St         850
                               ...
Wood St & Milwaukee Ave         962
Wood St & Taylor St             540
Woodlawn Ave & 55th St          242
Woodlawn Ave & Lake Park Ave    104
Yates Blvd & 75th St              4
Length: 568, dtype: int64

In [22]:
# Displays most commonly used end station.
#popular_end_station = df['End Station'].mode()[0]
#print(f"\tMost popular end station: {popular_end_station}")

# Displays most frequent combination of start station and end station trip.    
popular_trip = chi.groupby(['Start Station','End Station']).size().idxmax()
print(f"\tMost frequent combination of start station and end station trip: {popular_trip}")

In [26]:
df = chi.groupby(['Start Station']).size()

In [33]:
df[df>1000]

Start Station
Adler Planetarium            1737
Ashland Ave & Division St    1222
Bissell St & Armitage Ave    1027
Broadway & Barry Ave         1212
Buckingham Fountain          1115
                             ...
Wabash Ave & Wacker Pl       1131
Wacker Dr & Washington St    1510
Wells St & Concord Ln        1776
Wells St & Huron St          1336
Wilton Ave & Belmont Ave     1422
Length: 87, dtype: int64